[Unit]
Description=Register QEMU binfmt handlers
After=docker.service
Requires=docker.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker run --privileged --rm tonistiigi/binfmt --install arm64
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target